@page
@model WavePlatform.Models.Book

<h1>@Model.Title</h1>

<div>
    <h4>Author: @Model.Author.Name</h4>
    <p>@Model.Description</p>
    @if (Model.CoverImage != null)
    {
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.CoverImage)" alt="@Model.Title Cover" />
    }
</div>

<div>
    <form asp-action="AddToLibrary" method="post">
        <input type="hidden" name="bookId" value="@Model.BookId" />
        <button type="submit">Add to Library</button>
    </form>
</div>